

.poster{
  background-color: darkred;
  opacity:0.8;
  width: 630px;
  height: 888px;
  position: relative;


 }


.circle{
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 140px;
  position: absolute;
  top: 30%;
  left: 30%;

}

.text{
  color:white;
  margin-left: 20px;
  font: "Gothic"

}
